@use "@grumptech/ngx-basic-ui/thin-scrollbars";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.max-width-container {
  margin: 0 20px 0 20px;
  max-width: 800px;
}
.flex-container {
  flex: 1;
  overflow-y: auto;
  min-height: 50px;

  @include thin-scrollbars.scrollbars;
}
