<mat-toolbar color="primary">
  <a mat-button routerLink="/" class="home">Formly Designer</a>
  <a
    mat-button
    [routerLink]="urlPrefix || '/material'"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Designer</a
  >
  <a
    mat-button
    [routerLink]="(urlPrefix || '/material') + '/app'"
    routerLinkActive="active"
    >App</a
  >
  <a
    mat-button
    [routerLink]="(urlPrefix || '/material') + '/open-api-client'"
    routerLinkActive="active"
    >OpenAPI client</a
  >
  <button mat-button [matMenuTriggerFor]="styleMenu" class="align-right">
    <span>{{ urlPrefix === "/prime-ng" ? "PrimeNG" : "Material" }}</span>
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #styleMenu="matMenu">
    <a
      style="width: 100%"
      mat-menu-item
      mat-button
      class="menu-item"
      [routerLink]="materialLink"
      queryParamsHandling="preserve"
      preserveFragment="true"
      [disabled]="urlPrefix === '/material'"
    >
      Material
    </a>
    <a
      mat-menu-item
      mat-button
      class="menu-item"
      [routerLink]="primeNgLink"
      queryParamsHandling="preserve"
      preserveFragment="true"
      [disabled]="urlPrefix === '/prime-ng'"
    >
      PrimeNG
    </a>
  </mat-menu>

  @if (showSettings) {
    <a
      matIconButton
      class="settings"
      matTooltip="Settings"
      (click)="showSettingsDialog()"
    >
      <mat-icon>settings</mat-icon>
      @if (showSettingsWarning) {
        <span class="warning">.</span>
      }
    </a>
  }
  <a matIconButton matTooltip="About Formly Designer" [routerLink]="'/info'">
    <mat-icon>info</mat-icon>
  </a>
</mat-toolbar>
<div class="container">
  <router-outlet />
</div>
