<div class="container">
  <h1>Formly Designer</h1>
  Built on top of <a target="_blank" href="https://formly.dev/">Formly</a>,
  Formly Designer combines a visual form designer with a library of frontend
  components. Together, they let you instantly generate a complete frontend from
  an OpenAPI specification. Formly Designer is dual licensed to
  <a
    target="_blank"
    href="https://grumptech.github.io/products/formly-designer/"
    >support</a
  >
  continued development. The
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/GrumpTech/formly-designer#formly-designer"
    >source code</a
  >
  for the libraries is available on GitHub. <br /><br />

  Start building with Formly Designer using this
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/GrumpTech/formly-designer-sample"
    >sample project</a
  >
  as a starting point for your own application.
</div>
