@use "@grumptech/ngx-basic-ui/thin-scrollbars";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  a {
    margin-right: 5px;

    &.home {
      margin-right: 30px;
    }
  }
}

.container {
  min-height: 0;
  flex: 1;
}

.active {
  color: white;
  background: rgba(0, 0, 0, 0.2);
}
