:host {
  position: relative;
  display: block;
}

.overlay {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;

  &_field,
  &_field--selected {
    position: absolute;
    box-sizing: border-box;
  }
  &_field--selected {
    opacity: 1;
    background-color: gray;
  }
  .cdk-drag-dragging {
    opacity: 0.4;
    z-index: 1;
  }
}
